body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
}

#line {
    border-right: 4px solid green;
    height: 80%;
}

.leftpane {
    width: 20%;
    height: 100%;
    float: left;
}

.middlepane {
    width: 50%;
    height: 100%;
    float: left;
    margin: 10px;
}

.rightpane {
    width: 20;
    height: 20;
    position: relative;
    float: right;
}

.toppane {
    width: 100%;
    height: 30px;
    font-size: 25px;
    margin: 20px;
    background-color: #fcff4d;
}

.bopane {
    width: 100%;
    height: 5px;
    font-size: 12px;
    margin: 20px;
    position: absolute;
    bottom: 10px;
}